<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tengol.course.sc.common.mapper.PaymentMapper">
    <resultMap id="BaseResultMap" type="com.tengol.course.sc.common.entity.Payment">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="serial" jdbcType="VARCHAR" property="serial"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, serial
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from payment
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from payment
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.tengol.course.sc.common.entity.Payment"
            useGeneratedKeys="true">
        insert into payment (serial)
        values (#{serial,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey"
            parameterType="com.tengol.course.sc.common.entity.Payment">
        update payment
        set serial = #{serial,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>